@{
    ViewBag.Title = "Home Page";
}

@section script{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
}

<div class="Background">
    <div class="estrutura">
        <h1 style="text-align: center;">Send Email</h1>
        <input id="resultado" type="file" />
        <table>
            <tr>
                <td><button type="button" id="Bt_Enviar" class="Pad_Botao" style="color: black;">Enviar Em Massa</button></td>
                <td><button type="button" id="Btn_EnviarManual" class="Pad_Botao" style="color: black;">Envio Manual</button></td>
            </tr>

        </table>
        <input type="text" id="input_nome" />


        <input type="email" id="input_email" />
    </div>
</div>