* {
    margin: 0;
    padding: 0;
}

.Background {
    background-image: linear-gradient(45deg,black,grey);
    height: 100vh;
    color: orangered;
    font-family: 'Franklin Gothic';
}

.estrutura {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 20px;
}

.Pad_Botao {
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: gainsboro;
    margin: 3px;
}

#resultado {
    width: 205px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    background-color: gainsboro;
    color: black;
    text-align: right;
}

<<<<<<< HEAD
#input_email {
=======
#Input_Email {
>>>>>>> ee3c9f3762f47eb5d0c861f969d5df2e6ee58019
    width: 350px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    background-color: aqua;
    color: black;
    text-align: left;
}
#input_nome {
    width: 350px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    background-color: white;
    color: black;
    text-align: left;
}
.Pad_Botao:hover {
    background-color: rgb(158, 154, 153);
}
